{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<!-- Logout in, template modified from AllAuth template libraray -->

<div class="row h-100">
  <div class="col-auto m-auto shadow-lg py-3 px-5 rounded text-center login-box-width">

    <h2 class="f-theme fw-bold text-center border-bottom border-2  border-c-red text-red">Log Out</h2>

    <p>Are you sure you want to log out?</p>

    <form id="login-form" class="login-form my-4" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-red w-100" type="submit">Log Out</button>
    </form>

  </div>
</div>


{% endblock %}
