/*GENERAL*/
body {
    background-color: #F9FAFC;
    font-family: 'Lato', sans-serif;
}

:root {
    --c-green: #344D45; 
    --c-yellow: #DEAA58; 
    --c-red: #75242F; 
    --c-dark-grey: #333333;
    --c-soft-white: #F9FAFC;
}

.btn-green {
    background-color: var(--c-green);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
}
.btn-red {
    background-color: var(--c-red);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
}
.btn-yellow {
    background-color: var(--c-yellow);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
}

.bg-yellow{
    background-color: var(--c-yellow);
}


/*NAVIGATION*/

.brand {
    text-decoration: none;
    text-align: center;
}

.nav-column{
    width: fit-content;
}

.nav-link{
    letter-spacing: 2px;
}

.bg-c-red{
    background-color: var(--c-red);
}

.username-nav-text{
    background-color: var(--c-soft-white);
    border-radius: 5px;
    color: var(--c-red);
}
.container-max-width{
    max-width: 1700px;
    margin: auto;

}

/*ALL RECIPES*/

.recipe-header{
    background-color: var(--c-green);
    color: var(--c-soft-white);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;

}

.card-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #333333;
    font-weight: 300;
}

.recipe-card-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-parent{
    position: relative;
}

.likes-overlay{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 50;
    color: #f7f7f7;
    background-color: var(--c-red);
    padding: 10px;
}

.card-hover:hover{
    box-shadow: grey 3px 3px 3px 3px;
}

.light-grey{
    background-color: #f7f7f7;
    border: none;

}

.main-bg {
    background-color: #fff;
}

.card {
    border:transparent;
    background-color: #F9FAFC;
}

.hr-margin{
    margin: 2px;
}


.image-container {
    width: 100%;
    max-width: 100%;
}
  
.image-wrapper {
position: relative;
width: 100%;
padding-bottom: 100%;
overflow: hidden;
}

.recipe-card-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #030303;
}

.post-link:hover,
.page-link {
    color: var(--c-re);
}

.grey-title {
    color: rgb(76, 79, 84);
}

/* RECIPE DETAILS PAGE */

.recipe-masthead-container{
    overflow: hidden;

}

.masthead-text {
    background-color: var(--c-red);
    color: #F5F0E6;
}

.masthead-image-container {
    height: 100%;
    max-height: 50vh;
    display: flex!important;
    align-items: center;
}

.masthead-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #F5F0E6;
    font-weight: 300;

}

.btn-like{
    background-color: transparent;
    color: #f7f7f7;
    border: none;
}

.post-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #F5F0E6;
    font-weight: 300;

}

.border-top-bottom{
    border-top: #333333 solid 1px;
    border-bottom: #333333 solid 1px;
}

.recipe-ingerients{
    background-color: transparent;

}

.recipe-sub-headers{
    color: #333333;
    font-family: 'Lato', sans-serif;
}

.recipe-body{
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.recipe-editing-messages{
    list-style-type: none;
    color: var(--c-re);
    padding-left:0;
    border: var(--c-re) solid 1px;
    background-color: #fbdada;
    border-radius: 5px;
    width:fit-content;
}