
{% extends "base.html" %}{% block content %}
{% load static %}

<!-- Recipes Header Section --> 

<div class="row my-2">
    <div class="col d-flex align-items-center justify-content-center page-header">
        <img class="img-size" src="{% static 'img/dbts_rigatoni_r.png' %}" alt="Italian Cuisine">
        <div class="d-flex align-items-center flex-column justify-content-center center-col w-auto">
            <h2 class="text-uppercase fw-bold f-theme">Recipes</h2>
            <!-- Welcoming statements -->
            {% if user.is_authenticated %}
            <!-- Statement for logged in users -->
            <p class="text-center">
                Ready to share your love for traditional Italian cuisine
            </p>
            {% else %}
            <!-- Statement for viewer -->
            <p class="text-center">
                Your community for learning and sharing traditions of Italian cuisine
            </p>        
            {% endif %}
            <!-- Sharenrecipe Button only visible for the logged in users -->
            {% if user.is_authenticated %}
            <a class="btn btn-yellow m-1 w-fit btn-text" href="{% url 'recipe_share' %}" type="button">
                <i class="fa-solid fa-pen-to-square"></i> Share a Recipe</a>
            {% endif %}
        </div>

        <img class="img-size" src="{% static 'img/dbts_parmigiano_r.png' %}" alt="Italian Cuisine">

    </div>
</div>

<!-- Recipes Selction/List --> 

<div class="row mb-2">
    <div class="col mt-3">
        <div class="row">
        <!-- Loop of all the recipe instances that are displayed as cards -->
        {% for recipe in recipe_list %}
            <div class="col-md-4 col-lg-3 mb-2 ">
                <div class="card border border-0 h-100 mb-4 card-hover bg-white">
                    <a class="card-body post-link p-2" href="{% url 'recipe_detail' recipe.slug %}">
                        <div class="w-100">
                            <div class="w-100 h-100 pb-auto position-relative img-wrapper">
                                <img class="recipe-card-img w-100 h-100 position-absolute top-0 end-0" src=" {{ recipe.featured_image.url }}" alt="Recipes Feature Image">
                                <p class="likes-overlay h5 mb-0 rounded-circle  border-c-red"><i class="far fa-heart "></i>
                                    {{ recipe.number_of_likes }}</p>
                            </div>
                        </div>
                        <div class="border-c-red py-2 border-bottom border-1">
                            <h3 class="f-theme mb-0 fw-bold text-red ">{{ recipe.name }}</h3>
                        </div>
                        <p class="h6 pt-2 text-green  ">{{ recipe.region}}, {{ recipe.city}}</p>
                        <p >{{ recipe.excerpt }}</p>
                    </a>
                </div>
            </div>
            <!-- Pagination after 6 recipe cards -->
            {% if forloop.counter|divisibleby:8 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pagination logic, taken from the 'I thik Therefore I Blog'CI Walkthrough project-->
{% if is_paginated %}
<nav class="row" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-red-border">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-red-border"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
    {% endif %}
{%endblock%}