
{% extends "base.html" %}{% block content %}
{% load static %}

<!-- Recipes Header Section --> 
<div class="container container-max-width py-4">
    <div class="row flex-row align-items-center justify-content-center recipe-header">
            <img class="img-size" src="{% static 'img/dbts_rigatoni_r.png' %}" alt="Italian Cuisine">
        <div class="d-flex align-items-center flex-column justify-content-center center-col w-auto">
            <h2 class="text-uppercase fw-bold">Recipes</h2>
            <!-- Welcoming statements -->
            {% if user.is_authenticated %}
            <!-- Statement for logged in users -->
            <p class="text-center">
                Ready to share your love for traditional Italian cuisine
            </p>
            {% else %}
            <!-- Statement for viewer -->
            <p class="text-center">
                Your community for learning and sharing traditions of Italian cuisine
            </p>        
            {% endif %}
            <!-- Sharenrecipe Button only visible for the logged in users -->
            {% if user.is_authenticated %}
            <a class="btn btn-yellow m-1 text-uppercase fw-bold w-fit btn-text" href="{% url 'recipe_share' %}" type="button">
                <i class="fa-solid fa-pen-to-square"></i> Share a Recipe</a>
            {% endif %}
        </div>

        <img class="img-size" src="{% static 'img/dbts_parmigiano_r.png' %}" alt="Italian Cuisine">

    </div>
</div> 

<!-- Recipes Selction/List --> 
<div class="container container-max-width p-0">
 
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
            <!-- Loop of all the recipe instances that are displayed as cards -->
            {% for recipe in recipe_list %}
                <div class="col-md-4 ">
                    <div class="card mb-4 card-hover border border-2 text-red">
                        <a class="card-body post-link" href="{% url 'recipe_detail' recipe.slug %}">
                            <div class="image-container">
                                <div class="image-wrapper">
                                    <img class="recipe-card-img" src=" {{ recipe.featured_image.url }}" alt="Recipes Feature Image">
                                    <p class="likes-overlay h5 mb-0 rounded-circle"><i class="far fa-heart "></i>
                                        {{ recipe.number_of_likes }}</p>
                                </div>
                            </div>
                            <div class="recipe-card-layout">
                                <h3 class="card-title mb-0 fw-bold text-red">{{ recipe.name }}</h3>
                            </div>
                            <hr class = "hr-margin text-red fw-bold">
                            <p class="card-text h6 text-green fw-bold text-spaced">{{ recipe.region}}, {{ recipe.city}}</p>
                            <p class="card-text ">{{ recipe.excerpt }}</p>
                        </a>
                    </div>
                </div>
                <!-- Pagination after 6 recipe cards -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination logic, taken from the 'I thik Therefore I Blog'CI Walkthrough project-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}