{% extends "base.html" %}{% block content %}

<div class="container-fluid">
    <div class="row">
        <p class="text-muted text-center">
            Your community for learning and sharing traditions of Italian cuisine
        </p>
    </div>
    <div class="row bg-success text-center m-1 text-light">
        <h2>Recipes</h2>
    </div>
    
    <div class="row">
        <div class="col-2">
            {% if user.is_authenticated %}
            <a class="btn btn-warning m-1" href="{% url 'recipe_share' %}" type="button">
                Share a Recipe</a>
                {% endif %}
        </div>
        <div class="col-10">

        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <div class="recipe-card-layout">
                                    <h2 class="card-title recipe-title mb-0">{{ recipe.name }}</h2>
                                    <p class="text-muted h5 mb-0"><i class="far fa-heart"></i>
                                        {{ recipe.number_of_likes }}</p>
                                </div>
                                <hr class = "hr-margin"/>
                                <p class="card-text text-muted h6">{{ recipe.region}}, {{ recipe.city}}</p>
                                <p class="card-text">{{ recipe.excerpt }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}