{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row g-0 flex-sm-row ">
            <div class="col-md-6 masthead-text d-flex flex-column align-items-center justify-content-center ">
                <h1 class="recipe-title">{{ recipe.name }}</h1>
                <p>{{ recipe.region }}, {{ recipe.city }}</p>
                <p>By {{ recipe.author }}</p>
                <p>{{ recipe.created_on }}</p>
                <p> <i class="far fa-heart"></i>
                    {{recipe.number_of_likes}}
                </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src=" {{ recipe.featured_image.url }}" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mt-1">
            <h2 clss="recipe-sub-headers">About the Recipe</h2>
            <p clss="recipe-body">{{ recipe.description | safe }}</p>
        </div>
    </div>
    <div class="row border-top-bottom mt-1">
        <div class="col-md-auto card recipe-ingerients">
            <h2 clss="recipe-sub-headers">Ingredients</h2>
            <p clss="recipe-body">{{ recipe.ingredients | safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col mt-1">
            <h2 clss="recipe-sub-headers">Method</h2>
            <p clss="recipe-body">{{ recipe.method | safe }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            {% if user.is_authenticated %}
            <p>Leave a comment:</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-warning mt-1">Submit</button>
            </form>
            {% endif %}

            <hr>
            <h3>Comments:</h3>
            <div class="col-1">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}