/*GENERAL*/
body {
    background-color: var(--c-soft-white);
    font-family:var(--f-readable);
    font-size: 1rem;
    color: var(--c-dark-grey);
}

:root {
    --c-green: #344D45; 
    --c-yellow: #DEAA58; 
    --c-red: #75242F; 
    --c-dark-grey: #333333;
    --c-soft-white: #F9FAFC;
    --f-theme: 'Agbalumo', sans-serif;
    --f-readable: 'Dosis', sans-serif;
}

/* Custom Layout Parameters */

.container-max-width{
    max-width: 1700px;
    box-sizing: border-box;
}
.main-h{
    height: 100%;
    min-height: fit-content;
}

/* Customised Buttons */

.btn{
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: var(--f-theme);
}
.btn-text{
    font-size: smaller;
}

.btn:hover{
    box-shadow: 0px 3px 3px 3px var(--c-dark-grey);
    color: var(--c-soft-white);
}

.btn-red {
    background-color: var(--c-red);
    color: var(--c-soft-white);
}
.btn-yellow {
    background-color: var(--c-yellow);
    color: var(--c-soft-white);
}
.btn-red-border {
    background-color: var(--c-soft-white);
    color: var(--c-red);
    border: 2px solid var(--c-red);
}

/* Customised colors */

.bg-white {
    background-color: var(--c-soft-white);
}

.bg-green{
    background-color: var(--c-green);
}

.bg-red{
    background-color: var(--c-red);
}

.border-c-red{
    border-color: var(--c-red) !important;
}

.border-c-green{
    border-color: var(--c-green) !important;
}

.text-red{
    color: var(--c-red) !important;
}

.text-green{
    color: var(--c-green);
}

.text-white{
    color: var(--c-soft-white);
}

/* Customised Font Parameters */
.text-spaced{
    letter-spacing: 1px;
}

.f-theme{
    font-family: var(--f-theme);
}

/*NAVIGATION*/
.logo {
    max-height: 23px;
    width: auto;
    object-fit: contain;
}
.nav-item{
    font-size: medium;
    letter-spacing: 1px;
}

.w-fit{
    width: fit-content;
}

.username-nav-text{
    color: var(--c-soft-white);
}
/*Sing up and log in*/

.login-box-width{
    min-width: 100%;
}
.login-form p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form label{
    display: none;
}

.login-form  input{
    background-color: transparent;
    padding-bottom: 5px;
    text-align: center;
    width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--c-red);
}

.login-form  input:focus {
    outline: none;
    background-color: var(--c-soft-white);
}
#id_remember{
    width: auto;
    margin-right: auto;
}
p:has(#id_remember){
    flex-direction: row;
    justify-content: center;
}

p:has(#id_remember) label{
    display: block !important;
    width: 55%;
    margin-right: 10px;
    text-align: right;
}

/*ALL RECIPES*/
.page-header{
    height: 200px;
    color: var(--c-red);
    border-bottom: solid 2px var(--c-red);
    border-top: solid 2px var(--c-red);
}

.img-size{
    max-width: 25%;
    margin: 0 !important;
    width: auto;
    object-fit: contain;
}

.likes-parent{
    position: relative;
}

.likes-overlay{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--c-soft-white);
    background-color: var(--c-red);
    padding: 10px;
}

.card-hover:hover{
    box-shadow: grey 3px 3px 3px 3px;
}

.img-wrapper {
height: 300px;
}

.recipe-card-img {
object-fit: cover;
object-position: center;
}

.post-link {
    text-decoration: none;
    color: var(--c-dark-grey);
}

.post-link:hover,
.page-link {
    color: var(--c-red);
}

/* RECIPE FORMS */

.recipe-form-header{
    height: 180px;
    color: var(--c-green);
    border-bottom: solid 2px var(--c-green);
    border-top: solid 2px var(--c-green);
}

#id_region{
    border: solid 1px var(--c-green);
}
#id_featured_image{
    border-bottom: none;
    color: var(--c-green);
}
.form-control-file{
    margin: 5px;
    margin-left: 5px !important;
}
#featured_image-clear_id{
    margin-left: 5px;
}
.recipe-form label{
    margin-top: 5px;
    color: var(--c-green);
    font-family: var(--f-theme);
    font-weight: 600;
}

.recipe-form input:focus{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid var(--c-green);
}

.recipe-form input{
    background-color: transparent;
    border-radius: 0;
    padding-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--c-green);
}

.recipe-form textarea{
    border-radius: 5px;
    margin-top: 5px;
    border-color: var(--c-green) !important;
}
.success-modal{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

/* RECIPE DETAILS PAGE */

.recipe-masthead-container{
    overflow: hidden;
    color: var(--c-soft-white);
}

.masthead-image-container {
    height: 50vh;
}

.masthead-image {
    object-fit: cover;
    object-position: center;
}

.recipe-masthead-frame {
    inset: 0; 
    max-width: calc(100% - 2rem); 
    margin: 1rem; 
}

.time-stamp-text{
    font-size: 0.8rem;
}

.recipe-editing-messages{
    list-style-type: none;
    color: var(--c-red);
    padding-left:0;
    border: var(--c-red) solid 1px;
    background-color: var(--c-soft-white);
    border-radius: 5px;
    width:fit-content;
}

.btn-like{
    border: none;
    background-color: transparent;
    bottom: 25px;
 
}

.comment-form label{
    font-family: var(--f-theme);
    color: var(--c-green);
}

.comment-form textarea{
    border: solid 1px var(--c-green);
    box-shadow: inset 0 0 10px rgba(8, 8, 8, 0.279);
}

.comment-paragraph-margin p{
    margin: 4px;
}

@media (min-width: 770px) {
    .logo {
        max-height: 30px;
    }

    .btn-like{
        bottom: 35%; 
    }

    .img-size{
        max-height: 80%;
    }

    .btn-text{
        font-size: medium;
    }

}