/*GENERAL*/
body {
    background-color: #F9FAFC;
    font-family:var(--f-readable);
    font-size: 1rem;
}

.container-max-width{
    max-width: 1700px;
    box-sizing: border-box;
}

:root {
    --c-green: #344D45; 
    --c-yellow: #DEAA58; 
    --c-red: #75242F; 
    --c-dark-grey: #333333;
    --c-soft-white: #F9FAFC;
    --c-cream: #f8efdb;
    --f-theme: 'Agbalumo', sans-serif;
    --f-readable: 'Dosis', sans-serif;
}

.f-theme{
    font-family: var(--f-theme);
}

.btn-green {
    background-color: var(--c-green);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
.btn-red {
    background-color: var(--c-red);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
.btn-yellow {
    background-color: var(--c-yellow);
    color: var(--c-soft-white);
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
.btn-red-border {
    background-color: var(--c-soft-white);
    color: var(--c-red);
    border: 2px solid var(--c-red);
    border-radius: 5px;
}

.white-bg {
    background-color: var(--c-soft-white);
}

.bg-green{
    background-color: var(--c-green);
}

.bg-c-red{
    background-color: var(--c-red);
}

.border-green{
    border-color: var(--c-red) !important;
}

.text-red{
    color: var(--c-red) !important;
}

.text-green{
    color: var(--c-green);
}


/*NAVIGATION*/
.brand {
    max-height: 30px;
    width: auto;
    object-fit: contain;
}
.nav-item{
    font-size: medium;
    letter-spacing: 1px;
}

.w-fit{
    width: fit-content;
}

.username-nav-text{
    background-color: var(--c-soft-white);
    border-radius: 5px;
    color: var(--c-red);
}
/*Sing up and log in*/
.login-box-width{
    min-width: 500px;
    margin: 5px;
}

.login-form p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form label{
    display: none;
}

.login-form  input{
    background-color: transparent;
    padding-bottom: 5px;
    text-align: center;
    width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--c-red);
}

.login-form  input:focus {
    outline: none;
    background-color: var(--c-soft-white);
}
#id_remember{
    width: auto;
    margin-right: auto;
}
p:has(#id_remember){
    flex-direction: row;
    justify-content: center;
}

p:has(#id_remember) label{
    display: block !important;
    width: 55%;
    margin-right: 10px;
    text-align: right;
}

/*ALL RECIPES*/
.page-header{
    height: 200px;
    color: var(--c-red);
    border-bottom: solid 2px var(--c-red);
    border-top: solid 2px var(--c-red);
}

.img-size{
    max-height: 75%;
    width: auto;
    object-fit: contain;
}

.recipe-card-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-parent{
    position: relative;
}

.likes-overlay{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 50;
    color: var(--c-soft-white);
    background-color: var(--c-red);
    padding: 10px;
}

.card-hover:hover{
    box-shadow: grey 3px 3px 3px 3px;
}

.light-grey{
    background-color: #f7f7f7;
    border: none;

}

.card {
    border:transparent;
    background-color: #F9FAFC;
}

.hr-margin{
    margin: 2px;
}


.image-container {
    max-width: 100%;
}
  
.image-wrapper {
position: relative;
width: 100%;
padding-bottom: 100%;
overflow: hidden;
}

.recipe-card-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #030303;
}

.post-link:hover,
.page-link {
    color: var(--c-red);
}

.grey-title {
    color: rgb(76, 79, 84);
}

/* RECIPE FORMS */

.recipe-form-header{
    height: 200px;
    color: var(--c-green);
    border-bottom: solid 2px var(--c-green);
    border-top: solid 2px var(--c-green);
}
#id_featured_image{
    border-bottom: none;
    color: var(--c-green);
}

.recipe-form label{
    margin-top: 5px;
    color: var(--c-green);
    font-family: var(--f-theme);
    font-weight: 600;
}

.recipe-form input{
    background-color: transparent;
    border-radius: 0;
    padding-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--c-green);
}

.recipe-form textarea{
    border-radius: 5px;
    margin-top: 5px;
    border-color: var(--c-green) !important;
}
.success-modal{
    max-width: fit-content;
}

/* RECIPE DETAILS PAGE */

.recipe-masthead-container{
    overflow: hidden;
}

.masthead-text {
    background-color: var(--c-red);
    color: #F5F0E6;
}

.masthead-image-container {
    height: 100%;
    max-height: 50vh;
    display: flex!important;
    align-items: center;
}

.masthead-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-like{
    background-color: transparent;
    color: #f7f7f7;
    border: none;
}

.border-top-bottom{
    border-top: #333333 solid 1px;
    border-bottom: #333333 solid 1px;
}

.recipe-ingerients{
    background-color: transparent;

}

.recipe-sub-headers{
    color: #333333;
    font-family:var(--f-readable);
}

.recipe-body{
    background-color: #333333;
    font-family:var(--f-readable);
    font-size: 1rem;
}

.recipe-editing-messages{
    list-style-type: none;
    color: var(--c-red);
    padding-left:0;
    border: var(--c-red) solid 1px;
    background-color: #fbdada;
    border-radius: 5px;
    width:fit-content;
}

@media (max-width: 770px) {
    .img-size{
        max-width: 25%;
    }
    .center-col{
        max-width: 50%;
    }
    
    .btn-text{
        font-size: smaller;
        letter-spacing: 1px;
    }
    .brand {
        max-height: 20px;
        width: auto;
        object-fit: contain;
    }
}